@media screen and (max-width: 1440px) {
    #editContact, #addContact {
        width: 1112px;
        height: 570px;
    }

    #contactLeft {
        padding: 56px;
    }

    .superior-person-container {
        height: 570px;
    }

    #addContactHeader {
        font-size: 54px;
    }

    #addContactSubheader {
        font-size: 24px;
    }

    .person-container {
        left: 482px;
        top: 220px;
    }

    .inputfield-icon-name {
        left: 300px;
        top: 24px;
    }

    #inputFields {
        width: 333px;
        top: 148px;
        left: 711px;
        gap: 22px;
    }

    .inputfield-icon-tel {
        top: 179.5px;
        left: 300px;
    }

    .inputfield-icon-email {
        top: 102px;
        left: 299px;
    }

    #editButtons, #buttons {
        left: 706px;
    }
}

@media screen and (max-width: 1280px) {
    #editContact.show, #addContact.show {
        left: 50%;
    }

    #editContact, #addContact {
        width: 874px;
        height: 552px;
    }

    #contactLeft {
        padding: 46px;
    }

    .superior-person-container {
        height: 552px;
        width: 180px;
    }

    #addContactTextContainer {
        width: 255px;
    }

    #addContactSubheader {
        font-size: 18px;
    }

    #addContactHeader {
        font-size: 39px;
    }

    .person-container {
        left: 350px;
        top: 202px;
    }

    #inputFields {
        top: 148px;
        left: 522px;
        gap: 18px;
        width: 306px;
    }

    .inputField input {
        width: 305px;
    }

    .inputfield-icon-name, .inputfield-icon-name {
        width: 16px;
        height: 16px;
        left: 274px;
    }

    .inputfield-icon-email {
        top: 98px;
        left: 274px;
    }

    .inputfield-icon-tel {
        top: 171.5px;
        left: 274px;
    }

    #editButtons {
        left: 520px;
    }

    #buttons {
        left: 506px;
        justify-content: center;
        width: 316px;
    }

    .create-contact {
        font-size: 16px;
        font-weight: 500;
    }
}

@media screen and (max-width: 920px) {
    .overlay {
        height: 1008px;
    }

    .add-contact-form, #addContact, #editContact {
        position: fixed;
        bottom: -100%;
        left: 50%;
        transform: translate(-50%, 100%);
        width: 90vw;
        height: auto;
        background: white;
        border-radius: 20px;
        opacity: 0;
        transition: all 0.5s ease-in-out;
        z-index: 999;
        display: none;
    }

    .add-contact-form.show, #addContact.show, #editContact.show {
        transform: translate(-50%, -50%);
        opacity: 1;
        display: block;
    }

    #editContact, #addContact {
        width: 396px;
        height: 760px;
        top: 444px;
        left: 176%;
        box-shadow: 0px 0px 4px 0px #0000001A;
        flex-direction: column;
    }

    #contactLeft {
        width: 396px;
        height: 351px;
        padding: 0px;
    }

    #joinLogoContainer {
        display: none;
    }

    #addContactTextContainer {
        margin-left: 24px;
    }

    #addContactHeader {
        font-size: 47px;
        font-weight: 700;
        color: #FFFFFF;
        line-height: 56.4px;
    }

    #addContactSubheader {
        font-size: 20px;
    }

    #closeButtonContainer {
        top: 24px;
        right: 18px;
        background: none;
    }

    #closeButton {
        width: 32px;
        height: 32px;
        font-size: 22px;
        color: white;
    }

    .superior-person-container {
        height: 120px;
        width: 100%;
        position: absolute;
        top: 287px;
    }

    #inputFields {
        width: 100%;
        height: 171px;
        top: 444px;
        left: 0;
        align-items: center;
        gap: 12px;
    }

    .inputfield {
        display: flex;
        flex-direction: column;
        width: 364px;
        gap: 8px;
    }

    .inputField input {
        width: 100%;
        height: 48px;
        padding: 13px 21px 13px 21px;
    }

    .inputfield-icon-name {
        position: absolute;
        width: 16px;
        height: 16px;
        top: 22px;
        left: 353px;
    }

    .inputfield-icon-email {
        position: absolute;
        width: 20px;
        height: 16px;
        top: 92px;
        left: 349px;
    }

    .inputfield-icon-tel {
        position: absolute;
        width: 18px;
        height: 18px;
        top: 160px;
        left: 349px;
    }

    .inputfield {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 8px;
        padding: 0px 12px;
    }

    #editButtons {
        width: 201px;
        gap: 20px;
        top: 667px;
        left: 97.5px;
    }

    #buttons {
        width: 202px;
        height: 51px;
        gap: 20px;
        top: 667px;
        left: 97.5px;
    }

    .createButton {
        width: 202px;
        height: 51px;
        padding: 18px 10px 18px 10px;
    }

    .cancelButton {
        display: none;
    }

    .editCancelButton {
        display: flex;
        width: 82px;
        height: 51px;
        padding: 18px 10px 18px 10px;
        align-items: center;
        justify-content: center;
    }

    .x-png {
        display: none;
    }

    .saveButton {
        width: 99px;
        height: 51px;
        padding: 16px;
    }

    .inputField input {
        font-size: 14px;
    }
}

@media screen and (max-width: 430px) {
    .contacts {
        background: #F6F7F8;
        display: flex;
        height: 848px;
        padding-left: 0;
    }

    .addButton-container {
        position: fixed;
        top: 762px;
        height: 56px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin-right: 32px;
    }

    #contactSection button {
        display: flex;
        position: fixed;
        gap: 10px;
        top: 762px;
        width: 56px;
        height: 56px;
        border-radius: 46px;
        padding: 12px;
        border: 1px;
    }

    .button-text {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    #editContact, #addContact, #contactLeft {
        width: 330px;
    }

    #addContactTextContainer {
        width: 300px;
    }

    #addContactHeader {
        font-size: 43px;
    }

    .person-container {
        left: 101px;
    }

    .inputfield-icon-name, .inputfield-icon-email, .inputfield-icon-tel {
        left: 285px;
    }

    #editButtons {
        left: 62.5px;
    }

    #buttons {
        left: 63.5px;
    }
}