@font-face {
    font-family: 'Inter';
    font-weight: 400;
    src: url('fonts/Inter/static/Inter-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-weight: 700;
    src: url('fonts/Inter/static/Inter-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-weight: 300;
    src: url('fonts/Inter/static/Inter-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-weight: 800;
    src: url('fonts/Inter/static/Inter-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-weight: 900;
    src: url('fonts/Inter/static/Inter-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-weight: 200;
    src: url('fonts/Inter/static/Inter-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-weight: 500;
    src: url('fonts/Inter/static/Inter-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-weight: 600;
    src: url('fonts/Inter/static/Inter-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-weight: 100;
    src: url('fonts/Inter/static/Inter-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-weight: normal;
    font-style: italic;
    src: url('fonts/Inter/static/Inter-VariableFont_slnt,wght.ttf') format('truetype');
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

.header {
    width: 100%;
    height: 46px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 20px 40px 20px 40px;
}

.headline {
    font-size: 20px;
    font-weight: 400;

}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #666;
}

.container {
    display: flex;
}

.sidebar {
    width: 232px;
    background-color: #2A3647;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 64px;
    padding-bottom: 64px;
}

.logo {
    font-size: 20px;
}

.logo-img {
    width: 100px;
    height: 122px;
}

.sidebar ul {
    padding: 0;
    display: flex;
    flex-direction: column;
   
}

.sidebar li {
    display: flex;
    align-items: center;
    height: 46px;
    gap: 20px;
    cursor: pointer;

}

.sidebar li:hover {
    background-color: #091931;
}

.menu-icons {
    width: 30px;
    height: 30px;
    font-size: 16px;
}

.footer {
    display: flex;
    flex-direction: column;
}

.footer span {
    margin: 5px 0;
    font-size: 16px;
    cursor: pointer;
}

.footer span:hover {
    color: #1e90ff;
}