@media screen and (max-width: 1440px) {
    .content {
        width: 100%;
        height: 928px;
        position: absolute;
    }

    .headline-cards-container {
        height: 635px;
        position: relative;
        top: 126px;
    }
}

@media screen and (max-width: 1280px) {
    .content {
        display: flex;
        justify-content: center;
        padding-top: 0px;
        position: absolute;
        top: 97px;
        left: 200px;
        width: 100%;
        height: 928px;
    }

    .headline-cards-container {
        position: absolute;
        top: 100px;
        left: 50px;
    }

    .first-headline {
        font-size: 36px;
    }

    .second-headline {
        font-size: 21px;
    }

    .summary-headline {
        width: 428px;
    }

    .first-card-section {
        width: 392px;
        height: 130px;
    }

    .summary-cards {
        width: 392px;
    }

    .card-one, .card-two {
        width: 180px;
        height: 130px;
        padding: 16px;
        gap: 10px;
        align-items: center;
    }

    .edit-circle, .hook-circle {
        width: 59px;
        height: 59px;
    }

    .todo-number,
    .done-number,
    .one-urgent {
        font-size: 49px;
    }

    .second-card-section {
        width: 392px;
        gap: 20px;
    }

    .date-container {
        gap: 8px;
        justify-content: center;
    }

    .date {
        font-size: 16px;
    }

    .third-card-section {
        width: 392px;
        gap: 13px;
    }

    .card-four,
    .card-five, 
    .card-six {
        padding: 17px;
    }

    .number {
        font-size: 49px;
        line-height: 50.8px;
        width: 57px;
    }

    .card-underline {
        font-size: 14px;
    }

    .greet {
        width: 260px;
        margin-top: 0;
        position: absolute;
        top: 412px;
        left: 500px;
    }

    .gm {
        font-size: 29px;
        width: 260px;
    }

    .sofia {
        font-size: 37px;
        width: 260px;
    }
}

@media screen and (max-width: 1024px) {
    .content {
        width: 100%;
        left: 160px;
    } 
}

@media screen and (max-width: 920px) {
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        left: 160px;
        position: static;
    } 

    .headline-cards-container {
        display: flex;
        flex-direction: column;
        position: static;
        justify-content: center;
        height: 766px;
    }

    .greet {
        position: absolute;
        width: 100%;
        flex-direction: row;
        left: 0px;
        top: 811px;
    }

    .gm {
        width: 219px;
    }

    .sofia {
        line-height: 58.8px;
    }
}

@media screen and (max-width: 780px) {
    .content {
        position: static;
        width: 100%;
    }

    .greet {
        flex-direction: row;

    }

    .sofia {
        line-height: 58.8px;
    }

    .gm {
        width: 214px;
    }
}

@media screen and (max-width: 640px) {
    .content {
        position: static;
        width: 100%;
    }
}

@media screen and (max-width: 475px) {
    body {
        margin: 0 auto;
        width: 100%;
    }

    .greet {
        display: none;
    }

    .content {
        display: flex;
        height: 926pxpx;
        justify-content: center;
        padding: 0;
        width: 100%;
        position: static;
    }

    .summary-headline {
        display: flex;
        margin-left: 16px;
        width: 232px;
        height: 104px;
        gap: 16px;
        align-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .first-headline {
        font-weight: 700;
        font-size: 47px;
    }

    .stroke-image {
        display: none;
    }

    .blue-stroke-image {
        display: block;
        height: 4px;
        border: 3px;
    }

    .second-headline {
        font-weight: 400;
        font-size: 20px;
        line-height: 32.4px;
    }

    .summary-cards {
        display: flex;
        flex-direction: column;
        width: 428px;
    }

    .first-card-section {
        display: flex;
        width: 428px;
        height: 110px;
        gap: 32px;
        padding-bottom: 28px;
        padding-top: 28px;
        justify-content: center;
    }
    
    .card-one, .card-two {
        display: flex;
        box-sizing: border-box;
        width: 186px;
        height: 110px;
        padding: 38px 19px 38px 19px;
        gap: 10px;
        border-radius: 30px;
        background: #FFFFFF;
        box-shadow: 0px 0px 4px 0px #0000001A;
        animation-timing-function: ease-out;
        animation-duration: 80ms;
        transition: all 0.3s ease;
        cursor: pointer;
        align-items: center;
    }

    .edit-circle {
        width: 40px;
        display: flex;
        height: 40px;
        border: 7px solid #FFFFFF;
        background: #2A3647;
        border-radius: 50px;
        transition: all 0.3s ease;
    }

    .edit-image {
        display: flex;
        position: relative;
        width: 11.77px;
        height: 19.62px;
        top: 9.63px;
        left: 14.84px;
        transition: all 0.3s ease;
        transform: rotate(10.75deg);
    }

    .todo-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .todo-number, .done-number {
        width: 40px;
        height: 73px;
        font-size: 47px;
        font-weight: 600;
        line-height: 76.8px;
        text-align: center;
        transition: color 0.3s ease;
    }

    .todo-span, .done-span {
        font-size: 14px;
    }

    .hook-circle {
        width: 40px;
        display: flex;
        height: 40px;
        border: 7px solid #FFFFFF;
        background: #2A3647;
        border-radius: 50px;
        transition: all 0.3s ease;
    }

    .hook-image {
        display: flex;
        position: relative;
        width: 17.77px;
        height: 19.62px;
        top: 10.63px;
        left: 10.84px;
        transition: all 0.3s ease;
    }

    .second-card-section {
        margin-right: auto;
        margin-left: auto;
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        align-items: center;
        width: 396px;
        height: 110px;
        padding: 28px 0px 28px 0px;
        gap: 20px;
        border-radius: 20px;
        background: #FFFFFF;
        box-shadow: 0px 0px 4px 0px #0000001A;
        transition: all 0.3s ease;
        cursor: pointer;
    }

    .card-three {
        display: flex;
        align-items: center;
        width: 108px;
        height: 73px;
        gap: 18px;
    }

    .urgent-img-container {
        width: 40px;
        height: 40px;
    }

    .urgent-img {
        width: 40px;
        height: 40px;
    }

    .urgent-stroke {
        height: 68px;
    }

    .urgent-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50px;
        height: 73px;
        justify-content: center;
    }

    .one-urgent {
        width: 50px;
        height: 56px;
        font-family: Inter;
        font-size: 47px;
        font-weight: 600;
        line-height: 56.4px;
        text-align: center;
        transition: color 0.3s ease;
    }

    .urgent {
        transition: color 0.3s ease;
        width: 46px;
        height: 17px;
        font-size: 14px;
        line-height: 16.8px;
    }

    .date-container {
        display: flex;
        flex-direction: column;
        width: 135px;
        height: 44px;
        gap: 8px;
        justify-content: flex-end;
    }

    .date {
        width: 135px;
        height: 19px;
        font-size: 16px;
        font-weight: 700;
        line-height: 19.2px;
        text-align: left;
        transition: color 0.3s ease;
    }

    .upcoming-span {
        width: 130px;
        height: 17px;
        font-size: 14px;
        line-height: 45.8px;
    }

    .third-card-section {
        display: flex;
        margin-right: auto;
        margin-left: auto;
        box-sizing: border-box;
        width: 376px;
        height: 116px;
        gap: 13px;
        padding-top: 28px;
    }

    .card-four, .card-five, .card-six {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 116px;
        height: 116px;
        top: 1px;
        padding: 6px 0px 6px 0px;
        gap: 13px;
        border-radius: 20px;
        background: #FFFFFF;
        box-shadow: 0px 0px 4px 0px #0000001A;
        transition: all 0.3s ease;
        cursor: pointer;
    }

    .number {
        width: 30px;
        height: 56px;
        font-family: Inter;
        font-size: 47px;
        font-weight: 600;
        line-height: 56.04px;
        text-align: center;
        transition: color 0.3s ease;
    }

    .card-underline {
        width: 54px;
        height: 34px;
        font-size: 14px;
        font-weight: 400;
        line-height: 16.08px;
        text-align: center;
        transition: color 0.3s ease;
    }

    .section-greet {
        display: flex;
        height: 767px;
        justify-content: center;
        padding: 0;
        background-color: #f6f7f8;
        align-items: center;
    }

    #sectionGreet {
        display: none;
    }

    #content {
        display: none;
    }

    .rp-greet {
        display: flex;
        flex-direction: column;
        width: 274px;
        height: 102px;
        top: 412px;
        left: 78px;
        gap: 3px;
    }

    .rp-gm {
        font-size: 36px;
        font-weight: 400;
        line-height: 43.2px;
        text-align: left;
        color: #2A3647;
    }

    .rp-sofia {
        font-size: 47px;
        font-weight: 700;
        line-height: 56.4px;
        text-align: left;
        color: #29ABE2;
    }
}

@media screen and (max-width: 400px) {
    .headline-cards-container {
        align-items: center;
    }

    .summary-headline, .third-card-section {
        justify-content: center;
    }

    .summary-cards {
        align-items: center;
    }

    .card-one, .card-two {
        width: 148px;
    }

    .second-card-section {
        width: 329px;
    }

    .card-four, .card-five, .card-six {
        width: 99px;
    }

    .number {
        width: 53px;
    }
}