@media(max-width: 1280px) {
    .greet {
        display: none;
    }
}

@media(max-width: 1024px) {
    .summary-headline {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        height: unset;
        gap: 8px;
    }

    .stroke-image {
        display: none;
    }

    .blue-stroke-image {
        display: block;
    }
}