body{
    scroll-behavior: smooth;
}

.privacy-policy-section {
    overflow: auto;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
}

.join {
    color: #82CCEC;
}

.pl {
    padding-left: 96px;
}

.headline-p {

    font-weight: 700;
    font-size: 61px;
    line-height: 73.2px;
}

.subtitle-p {
    font-weight: 700;
    font-size: 27px;
    line-height: 32.4px;
}