body,
html {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
}

.privacy-policy-section {
  overflow: auto;
}

.join {
  color: #82ccec;
}

.pl {
  padding-left: 96px;
}

.headline-p {
  font-weight: 700;
  font-size: 61px;
  line-height: 73.2px;
}

.subtitle-p {
  font-weight: 700;
  font-size: 27px;
  line-height: 32.4px;
}

