body {
    padding: 0;
    margin: auto;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
    max-width: 1440px;
    max-height: 1024px;
}

#sectionSignUp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1440px;
    height: 1024px;
    background: #F6F7F8;
}

.logo-container {
    display: flex;
    align-items: flex-start;
    width: 1360px;
    height: 121.97px;
    margin-left: 77px;
}

.main-logo {
    width: 100.03px;
    height: 121.97px;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 598px;
    height: 630px;
    padding: 48px;
    gap: 32px;
    border-radius: 30px;
    box-shadow: 0px 0px 14px 3px #0000000A;
    background: #fff;
    margin-bottom: 95px;
}

.header-container {
    position: relative;
    width: 100%;
    height: 89px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.back-arrow {
    position: absolute;
    left: 0;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.header {
    width: 315px;
    height: 73px;
    font-size: 61px;
    font-weight: 700;
    line-height: 73.2px;
    text-align: center;
}

.divider {
    height: 3px;
    background: #29ABE2;
    width: 170px;
    right: 687px;
    border-radius: 3px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 422px;
    height: 326px;
}

.input-container {
    display: flex;
    position: relative;
    width: 422px;
    height: 48px;
    gap: 8px;
}

.input-container input {
    display: flex;
    width: 100%;
    gap: 10px;
    height: 22px;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    background: #FFFFFF;
    opacity: 0.5;
    font-size: 20px;
}

.input-icon {
    position: absolute;
    right: 22px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    pointer-events: none;
}

.checkbox-container {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 242px;
    height: 24px;
    padding: 22px;
}

.checkbox-container input[type="checkbox"] {
    width: 24px;
    height: 24px;
    padding: 4px;
    border-radius: 3px;
    cursor: pointer;
}

.checkbox-container label {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    line-height: 19.2px;
}

.checkbox-hover-design:hover {
transform: scale(1.1);
}

.privacy-policy {
    color: #29ABE2;
    text-decoration: none;
}

.sign-up-button {
    width: 126px;
    height: 55px;
    padding: 15px;
    gap: 10px;
    border-radius: 8px;
    background: #2A3647;
    color: white;
    font-size: 21px;
    font-weight: 700;
    line-height: 25.2px;
    text-align: center;
    cursor: pointer;
    border: none;
    transition: all 0.1s ease;
}

.sign-up-button:hover {
    background-color: #29ABE2;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    border-color: #29ABE2;
}

.link-container {
    justify-content: center;
    display: flex;
    position: absolute;
    top: 949px;
    width: 246px;
    height: 35px;
    gap: 16px;
    opacity: 0.5;
    transition: opacity 500ms ease-in-out;
    align-items: center;
}

.policy-notice {
    text-decoration: none;
    color: #A8A8A8;
}

/* alert button */

/* Styling für den benutzerdefinierten Alert-Container */
.custom-alert {
    display: none; /* Versteckt den Alert-Container standardmäßig */
    position: fixed; /* Fixiert den Container im sichtbaren Bereich */
    bottom: -100px; /* Startet unten */
    left: 50%; /* Zentriert horizontal */
    transform: translateX(-50%); /* Korrigiert die horizontale Zentrierung */
    z-index: 1000; /* Stellt sicher, dass der Alert über anderen Elementen liegt */
    width: 312px; /* Breite des Containers */
    height: 74px; /* Höhe des Containers */
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2A3647; /* Hintergrundfarbe */
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1); /* Schatten */
    border-radius: 25px;
}

/* Styling für den Inhalt des benutzerdefinierten Alerts */
.custom-alert-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 262px; /* Breite des Inhalts */
    height: 24px; /* Höhe des Inhalts */
    opacity: 0; /* Standardmäßig unsichtbar */
    animation: fade-in 0.5s forwards; /* Einblende-Animation */
    animation-delay: 800ms; /* Verzögerung der Einblende-Animation */
}

/* Textstyling */
.custom-alert-content span {
    font-size: 20px; /* Schriftgröße */
    font-weight: 400; /* Schriftstärke */
    line-height: 24px; /* Zeilenhöhe */
    text-align: left; /* Textausrichtung */
    color: white;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    height: 100%;
    display: none;
}

.show {
    display: block;
}

body.modal-open {
    overflow: hidden;
}

/* Animation für das Hochrutschen des Alerts */
@keyframes slide-up {
    from {
        bottom: -100px; /* Startposition außerhalb des Bildschirms */
    }
    to {
        bottom: 50%; /* Endposition in der Mitte des Bildschirms */
        transform: translate(-50%, -50%); /* Vertikale und horizontale Zentrierung */
    }
}

/* Einblende-Animation */
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


