@font-face {
    font-family: 'Inter';
    font-weight: 400;
    src: url('/fonts/Inter/static/Inter-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-weight: 700;
    src: url('/fonts/Inter/static/Inter-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-weight: 300;
    src: url('/fonts/Inter/static/Inter-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-weight: 800;
    src: url('/fonts/Inter/static/Inter-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-weight: 900;
    src: url('/fonts/Inter/static/Inter-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-weight: 200;
    src: url('/fonts/Inter/static/Inter-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-weight: 500;
    src: url('/fonts/Inter/static/Inter-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-weight: 600;
    src: url('/fonts/Inter/static/Inter-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-weight: 100;
    src: url('/fonts/Inter/static/Inter-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-weight: normal;
    font-style: italic;
    src: url('/fonts/Inter/static/Inter-VariableFont_slnt,wght.ttf') format('truetype');
}

body {
    font-family: 'Inter', sans-serif;
}

/* Summary */

.content {
    display: flex;
    padding-top: 100px;
    padding-left: 96px;
}

.summary-headline {
    display: flex;
    width: 625px;
    height: 73px;
    gap: 30px;
    align-items: center;
}

.stroke-image {
    height: 59px;
    border: 3px;
}

.first-headline {
    font-weight: 700;
    font-size: 61px;
    line-height: 73.2;
}

.second-headline {
    font-weight: 400;
    font-size: 27px;
    line-height: 32.4px;
}

.summary-cards {
    display: flex;
    flex-direction: column;
    width: 560px;
    height: 562px;
}

.first-card-section {
    display: flex;
    width: 560px;
    height: 168px;
    gap: 32px;
    padding-bottom: 28px;
    padding-top: 28px;
}

.card-one {
    display: flex;
    box-sizing: border-box;
    width: 264px;
    height: 168px;
    padding: 38px;
    gap: 18px;
    border-radius: 30px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px 0px #0000001A;
    animation-timing-function: ease-out;
    animation-duration: 80ms;
    transition: all 0.3s ease;
    cursor: pointer;
}

.card-one:hover {
    background: #2A3647;
    transform: scale(1.05);
}

.card-one:hover .edit-circle {
    background: #FFFFFF;
    border-color: #2A3647;
}

.card-one:hover .edit-image {
    filter: invert(29%) sepia(56%) saturate(403%) hue-rotate(168deg) brightness(96%) contrast(95%);
}

.card-one:hover .todo-container span,
.card-one:hover .todo-container .todo-number {
    color: #FFFFFF;
}

.edit-circle {
    width: 69px;
    display: flex;
    height: 69px;
    border: 7px solid #FFFFFF;
    background: #2A3647;
    border-radius: 50px;
    transition: all 0.3s ease;
}

.edit-image {
    display: flex;
    position: relative;
    width: 29.94px;
    height: 22.13px;
    top: 23.43px;
    left: 19.53px;
    transition: all 0.3s ease;
}

.todo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.todo-number {
    width: 50px;
    height: 77px;
    font-size: 64px;
    font-weight: 600;
    line-height: 76.8px;
    text-align: center;
    transition: color 0.3s ease;
}

.todo-container span {
    transition: color 0.3s ease;
}

.card-two {
    display: flex;
    box-sizing: border-box;
    width: 264px;
    height: 168px;
    padding: 38px;
    gap: 18px;
    border-radius: 30px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px 0px #0000001A;
    animation-timing-function: ease-out;
    animation-duration: 80ms;
    transition: all 0.3s ease;
    cursor: pointer;
}

.card-two:hover {
    background: #2A3647;
    transform: scale(1.05);
}

.card-two:hover .hook-circle {
    background: #FFFFFF;
    border-color: #2A3647;
}

.card-two:hover .hook-image {
    filter: invert(29%) sepia(56%) saturate(403%) hue-rotate(168deg) brightness(96%) contrast(95%);
}

.card-two:hover .done-container span,
.card-two:hover .done-container .done-number {
    color: #FFFFFF;
}

.hook-circle {
    width: 69px;
    display: flex;
    height: 69px;
    border: 7px solid #FFFFFF;
    background: #2A3647;
    border-radius: 50px;
    transition: all 0.3s ease;
}

.hook-image {
    display: flex;
    position: relative;
    width: 29.94px;
    height: 22.13px;
    top: 23.43px;
    left: 19.53px;
    transition: all 0.3s ease;
}

.done-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.done-number {
    width: 50px;
    height: 77px;
    font-size: 64px;
    font-weight: 600;
    line-height: 76.8px;
    text-align: center;
    transition: color 0.3s ease;
}

.done-container span {
    transition: color 0.3s ease;
}


.second-card-section {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    width: 560px;
    height: 168px;
    padding: 28px;
    gap: 61px;
    border-radius: 30px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px 0px #0000001A;
    transition: all 0.3s ease;
    cursor: pointer;
}

.second-card-section:hover {
    background: #2A3647;
    transform: scale(1.05);
    transform-origin: top left;
}

.second-card-section:hover .one-urgent,
.second-card-section:hover .urgent,
.second-card-section:hover .date,
.second-card-section:hover .date-container span {
    color: #FFFFFF;
}

.second-card-section:hover img[src="/img/high-stroke-gray.png"] {
    filter: brightness(0) invert(1);
}

.card-three {
    display: flex;
    align-items: center;
    width: 130px;
    height: 96px;
    gap: 18px;
}

.urgent-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 52px;
    height: 96px;
    justify-content: center;
}

.one-urgent {
    width: 50px;
    height: 77px;
    font-family: Inter;
    font-size: 64px;
    font-weight: 600;
    line-height: 76.8px;
    text-align: center;
    transition: color 0.3s ease;
}

.urgent {
    transition: color 0.3s ease;
}

.date-container {
    display: flex;
    flex-direction: column;
    width: 178px;
    height: 80px;
    gap: 13px;
    justify-content: flex-end;
}

.date {
    width: 178px;
    height: 25px;
    font-size: 21px;
    font-weight: 700;
    line-height: 25.2px;
    text-align: left;
    transition: color 0.3s ease;
}

.date-container span {
    transition: color 0.3s ease;
}

.second-card-section img {
    transition: filter 0.3s ease;
}

.third-card-section {
    display: flex;
    box-sizing: border-box;
    width: 560px;
    height: 170px;
    padding: 1px;
    gap: 32px;
    padding-top: 28px;
}

.card-four,
.card-five,
.card-six {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 168px;
    top: 1px;
    padding: 25px;
    gap: 13px;
    border-radius: 30px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px 0px #0000001A;
    transition: all 0.3s ease;
    cursor: pointer;
}

.card-four:hover,
.card-five:hover,
.card-six:hover {
    background: #2A3647;
    transform: scale(1.05);
}

.card-four:hover .number,
.card-five:hover .number,
.card-six:hover .number,
.card-four:hover .card-underline,
.card-five:hover .card-underline,
.card-six:hover .card-underline {
    color: #FFFFFF;
}

.number {
    width: 41px;
    height: 77px;
    font-family: Inter;
    font-size: 64px;
    font-weight: 600;
    line-height: 76.8px;
    text-align: center;
    transition: color 0.3s ease;
}

.card-underline {
    width: 83px;
    height: 48px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    transition: color 0.3s ease;
}


.greet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 485px;
    height: 136px;
    margin-top: 313px;
    gap: 3px;
}

.gm {
    width: 338px;
    height: 56px;
    font-size: 47px;
    font-weight: 500;
    line-height: 56.4px;
    text-align: left;
}

.sofia {
    width: 485px;
    height: 77px;
    font-size: 64px;
    font-weight: 700;
    line-height: 76.8px;
    text-align: left;
    color: #29ABE2;
}