@media screen and (max-width: 1440px) {
    body {
        width: 100%;
        margin: 0 auto;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 42px 0px 42px 0px;
    }

    .add-task-headline {
        margin-left: 0px;
        margin-right: 534px;
    }

    .buttons {
        margin-left: 70px;
        width: 922px;
    }

    .definition {
        width: 400px;
    }

    .properties {
        width: 400px;
    }
    
    .add-task-form {
        justify-content: center;
        width: 976px;
    }
}

@media screen and (max-width: 1280px) {
    body {
        width: 100%;
        margin: 0 auto;
        height: 1024px;
    }
    
    .content {
        align-items: center;
        height: 1024px;
    }

    .add-task-headline {
        margin-left: 0px;
        margin-right: 265px;
    }
    
    .title {
        width: 220px;
    }

    .description {
        width: 220px;
    }

    .assignment-selector {
        width: 260px;
    }

    .definition {
        align-items: flex-end;
    }

    .radio-label {
        width: 86px;
        gap: 4px;
    }

    .radio-label span {
        font-size: 16px;
    }

    .radio-button-group {
        gap: 12px;
    }

    .subtask-list-element:hover, .subtask-list-element:focus-within, .subtask-list-element {
        width: 378px;
    }

    .buttons {
        justify-content: space-around;
        align-items: center;
    }
}

@media screen and (max-width: 1024px) {
    body {
        width: 100%;
        margin: 0 auto;
    }  

    .add-task-headline {
        margin-right: 230px;
    }

    .properties {
        width: 365px;
    }

    .properties-entry-field {
        width: 345px;
    }

    .due-date {
        width: 315px;
    }

    .subtask-container {
        width: 345px;
    }

    .radio-button-group {
        justify-content: normal !important;
    }
}

@media screen and (max-width: 920px) {
    body {
        width: 100%;
        margin: 0 auto;
    }

    .content {
        height: 845px !important;
        padding: 0;
    }

    .add-task-headline {
        margin-block-start: 20px;
        margin-block-end: 20px;
        margin-right: 0;
    }

    .add-task-form {
        width: 700px;
        margin-left: 0;
    
    }

    .buttons {
        width: 780px;
        margin-left: 0;
    }
}

@media screen and (max-width: 780px) {
    body {
        width: 100%;
        margin: 0 auto;
    }

    .content {
        overflow: auto;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        -ms-overflow-style: none;
        overflow-x: hidden;
    }

    .add-task-headline {
        margin-left: 0px;
        margin-block-end: 0;
    }

    .add-task-form {
        display: flex;
        flex-direction: column;
        align-items: normal;
        justify-content: flex-end;
        width: 350px;
        top: 224px;
        left: 16px;
        gap: 16px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 32px;
    }

    .seperator {
        display: none;
    }

    .buttons {
        margin-left: 0px;
        display: flex;
        justify-content: space-between;
        width: 396px;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 100px;
        flex-direction: column;
        gap: 24px;
    }

    .definition-entry-field {
        width: 315px;
    }

    .assignment-selector {
        width: 345px;
    }

    .definition {
        width: 345px;
        align-items: center;
    }
}

@media screen and (max-width: 640px) {
    body {
        width: 100%;
        margin: 0 auto;
    }

    .content {
        -ms-overflow-style: none;
    }
}

@media screen and (max-width: 475px) {
    body {
        width: 100%;
        margin: 0 auto;
        height: 948px;
        display: flex;
        flex-direction: column;
    }

    .content {
        height: 766px;
        overflow: auto;
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;

    }

    .add-task-headline {
        margin-block-start: 0;
        margin-block-end: 0;
        margin-left: 16px;
        margin-top: 80px;
        font-size: 47px;
        font-weight: 700;
        line-height: 56.4px;
        text-align: left;
    }

    .seperator {
        display: none;
    }

    .add-task-form {
        display: flex;
        flex-direction: column;
        align-items: normal;
        justify-content: flex-end;
        width: 396px;
        top: 224px;
        left: 16px;
        gap: 16px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 32px;
    }

    .definition-entry-field {
        width: 315px;
    }

    .assignment-selector {
        width: 345px;
    }

    .definition {
        width: 396px;
        align-items: center;
    }

    #checkboxes {
        display: none;
        border: 1px solid #dadada;
        border-radius: 10px;
        background-color: white;
        z-index: 1;
        width: 100%;
        overflow-y: auto;
    }

    .properties {
        width: 396px;
        align-items: center;
    }

    .subtask-list-container {
        display: flex;
        height: 148px;
        width: 396px;
        overflow: auto;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .subtask-list {
        padding: 6px;
        padding-left: 0;
    }

    .buttons {
        margin-left: 0px;
        display: flex;
        justify-content: space-between;
        width: 396px;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 100px;
    }

    .clear-btn {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .definition-entry-field {
        width: 183px;
    }

    .assignment-selector, .properties-entry-field {
        width: 223px;
    }

    .due-date {
        width: 190px;
    }

    .radio-label {
        width: 67px;
    }

    .radio-label span {
        font-size: 13px;
    }
}






