<nav class="sidebar-nav">
  <div class="sidebar-top">
    <img src="/img/template/templateLogoJoin.png" class="sidebar-logo" />
    <div class="menu"></div>
  <div class="sidebar-bottom">
    <button
      class="menu-button ,menu-button-design menu-button-lower-design font-size"
      onClick="window.location.href = '/privacy-policy/privacy-policy.html';"
    >
      Privacy Policy
    </button>
    <button
      class="menu-button menu-button-lower-design font-size"
      onClick="window.location.href = '/legal-notice/legal-notice.html';"
    >
      Legal Notice
    </button>
  </div>
</nav>
