body,
html {
    overflow: auto !important;
    scrollbar-width: none !important;
    /* Firefox */
    -ms-overflow-style: none !important;
    /* Internet Explorer 10+ */
}

body::-webkit-scrollbar,
html::-webkit-scrollbar {
    display: none !important;
    /* Chrome, Safari, Opera */
}

.main-container {
    display: flex;
    flex-direction: column;
    padding-top: 110px;
    padding-left: 96px;
    padding-right: 96px;
    gap: 30px;
    overflow: auto;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
}

.main-container::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
}

.span-container {
    gap: 24px;
}

.headline-and-arrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow {
    width: 21.33px;
    height: 20.74px;
}

.arrow:hover {
    transform: scale(1.05);
    background-color: rgb(233, 233, 233);
    border-radius: 50%;
    padding: 1px;
}

.help-button {
    display: none;
}

.arrow:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.headline-main {
    font-size: 61px;
    font-weight: 700;
    line-height: 73.2px;
    margin: 0;
}

.sub-headline {
    font-size: 27px;
    font-weight: 700;
    line-height: 32.4px;
}

.sub-sub-headline {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.number {
    font-size: 27px;
    font-weight: 700;
    line-height: 32.4px;
}

.join {
    color: #82CCEC;
}

.number-and-headline {
    display: flex;
    align-items: center;
    gap: 35px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

.li-text {
    display: flex;
    flex-direction: column;
}

.li-flexbox {
    display: flex;
    align-items: flex-start;
    gap: 35px;
}

p {
    margin-top: 0;
}