body {
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

body.modal-open {
    overflow: hidden;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    height: 100%;
    display: none;
}

.new-task.show {
    position: absolute;
    top: 563px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    z-index: 1;
}

.new-task {
    position: absolute;
    width: 1116px;
    height: 870px;
    top: 50%;
    left: 50%;
    border-radius: 30px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    display: none;
    transform: translate(-50%, -50%);
}

.close-btn {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 64px;
    left: 1044px;
    padding: 4px;
    border: none;
    cursor: pointer;
    background-color: white;
}

.close-btn:hover {
    border-radius: 56px;
    background-color: #efebeb;
}

.close-button-icon {
    width: 12px;
    height: 12px;
    margin-top: 4px;
}


.board-main-container {
    background-color: #F6F7F8;
    padding: 0px 64px 0px 64px;
}

.headline-board {
    width: 176px;
    height: 73px;
    font-size: 61px;
    font-weight: 700;
    line-height: 73.2px;
}

.headline-add-task-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1080px;
    height: 136px;
    padding-top: 96px;
}

.card-container {
    display: flex;
    justify-content: space-between;
    width: 1080px;
    height: 688px;
    gap: 26px;
	overflow: auto;
}

.headline-and-input {
    width: 1080px;
    height: 73px;
    display: flex;
}

.input-and-add-button {
    display: flex;
    align-items: center;
    gap: 32px;
    padding-left: 380px;
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
}

.search-input {
    width: 265px;
    height: 28px;
    padding: 8px 16px 8px 16px;
    border: 1px solid #A8A8A8;
    border-radius: 10px;
}

.add-button {
    width: 160px;
    height: 48px;
    border-radius: 10px;
    border: 1px solid #2A3647;
    padding: 8px 16px 8px 16px;
    gap: 4px;
    background-color: #2A3647;
    color: white;
    font-size: 21px;
    font-weight: 700;
    line-height: 25.2px;
    transition: all 0.1s ease;
}

.add-button:hover {
    cursor: pointer;
    background-color: #29ABE2;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    border-color: #29ABE2;
}


.add-button-img-column {
    filter: grayscale(100%);
    transition: all 0.1s ease;
	cursor: pointer;
}

.add-button-img-column:hover {
    filter: brightness(0) saturate(1000%) invert(59%) sepia(45%) saturate(3434%) hue-rotate(161deg) brightness(95%) contrast(89%);
}

.search-icon {
    position: absolute;
    right: 10px;
    width: 32px;
    height: 32px;
}

.placeholder {
    width: 1px;
    height: 32px;
    position: absolute;
    right: 59px;
    border-left: 1px solid lightgray;
}

.search-icon:hover {
    cursor: pointer;
    background-color: rgb(238, 238, 238);
    border-radius: 50%;
}

.column-headers {
    width: 1080px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}

.column-title {
    width: 244px;
    height: 24px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    display: flex;
    justify-content: space-between;
}

.drag-area {
    display: flex;
    flex-direction: column;
    width: 252px;
    height: 696px;
    gap: 10px;
}

.drag-area-highlight {
    background-color: rgba(0, 0, 0, 0.2);
}

.delete {
    width: 49px;
    height: 19px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
}

.tasks-cards-headline {
    padding: 16px;
    margin-block-start: 0;
    margin-block-end: 0;
    height: 30px;
}

/* Cards */

.technical-task {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 525px;
    height: 871px;
    top: 55px;
    left: 775px;
    padding: 48px 40px 48px 40px;
    gap: 24px;
    border-radius: 30px;
    box-shadow: 0px 0px 4px 0px #00000029;
    background: #FFFFFF;
    display: none;
    z-index: 2;
}

.show {
    display: block;
}

.technical-task.show {
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    z-index: 1;
}


.technicalTask-span-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 208px;
    height: 36px;
    padding: 4px 24px 4px 24px;
    gap: 10px;
    border-radius: 8px;
    background: #1FD7C1;
}

.technical-span {
    width: 160px;
    height: 28px;
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
    text-align: left;
    color: #FFFFFF;
}

.prioImg-technical { 
    width: 17px;
    height: 12px;
}

.urgent-container {
    display: flex;
    align-items: center;
    width: 128px;
    height: 32px;
    padding: 4px 18px 4px 18px;
    gap: 10px;
    border-radius: 10px;
}

.urgent-span {
    width: 65px;
    height: 24px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.user-story-card {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 525px;
    height: 908px;
    top: 1px;
    left: 776px;
    padding: 48px 40px 48px 40px;
    gap: 24px;
    border-radius: 30px;
    box-shadow: 0px 0px 4px 0px #00000029;
    background: #FFFFFF;
    display: none;
    z-index: 3;
}

.user-story-card.show {
    left: 50%;
    top: 512px;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    z-index: 1;
}

.technical-task.show {
    left: 50%;
    top: 512px;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    z-index: 1;
}

.closeButton-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 525px;
    height: 36px;
}

.userstory-span-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 164px;
    height: 36px;
    padding: 4px 24px 4px 24px;
    gap: 10px;
    border-radius: 8px;
    background: #0038FF;
}

.userstory-span {
    width: 116px;
    height: 28px;
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
    text-align: left;
    color: #FFFFFF;
}

.close-userstory-btn {
    width: 32px;
    height: 32px;
    padding: 4px;
    border: none;
    background-color: white;
    cursor: pointer;
}

.close-userstory-btn:hover {
    border-radius: 56px;
    background-color: #efebeb;
}

.closeImg {
    width: 13.15px;
    height: 13.15px;
    margin-top: 3px;
    margin-left: 1px;
}

.userstory-headline {
    font-size: 61px;
    font-weight: 700;
    line-height: 73.2px;
    text-align: left;
    margin-block-start: 0;
    margin-block-end: 0;
}

.userstory-underline {
    width: 445px;
    height: 24px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-block-start: 0;
    margin-block-end: 0;
}

.date-container {
    display: flex;
    align-items: center;
    width: 445px;
    height: 24px;
    gap: 25px;
}

.due-date-storycard, .due-date-technicalTask {
    width: 92px;
    height: 24px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    padding: 0;
}

.date {
    width: 111px;
    height: 24px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.priority-container {
    display: flex;
    align-items: center;
    width: 445px;
    height: 32px;
    gap: 25px;

}

.priority-span {
    width: 73px;
    height: 24px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.medium-container {
    display: flex;
    align-items: center;
    width: 139px;
    height: 32px;
    padding: 4px 18px 4px 18px;
    gap: 10px;
    border-radius: 10px;
}

.medium-span {
    width: 76px;
    height: 24px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.prioImg {
    
    width: 17px;
    height: 6.33px;
}

.assignedTo-container {
    display: flex;
    flex-direction: column;
    width: 445px;
    height: 208px;
    gap: 8px;
}

.assignedTo-span {
    width: 445px;
    height: 24px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.contact-container {
    display: flex;
    width: 445px;
    height: 176px;
    gap: 4px;

}

.contact {
    display: flex;
    align-items: center;
    width: 445px;
    height: 56px;
    padding: 7px 16px 7px 16px;
    border-radius: 10px;
}

.initials-container {
    width: 42px;
    height: 42px;
    border-radius: 45px;
    background: #FF7A00;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border: 2px solid #FFFFFF;
    color: white;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.4px;
    text-align: center;
}

.contact-name {
    width: 158px;
    height: 23px;
    font-size: 19px;
    font-weight: 400;
    line-height: 22.8px;
    text-align: center;
}

.subtasks-container {
    display: flex;
    flex-direction: column;
    width: 445px;
    height: 100px;
    gap: 8px;
}

.subtasks-span {
    width: 445px;
    height: 24px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.checkbox {
    display: flex;
    flex-direction: column;
    width: 445px;
    height: 68px;
    gap: 4px;
}

.option1 {
    width: 344px;
    height: 32px;
    padding: 6px 16px 6px 16px;
    gap: 16px;
    

}

.option2 {
    width: 208px;
    height: 32px;
    padding: 6px 16px 6px 16px;
    gap: 16px;
}

.recipe-span, .layout-span {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
}

.delete-edit-container {
    display: flex;
    width: 515px;
    height: 24px;
    margin-top: 64px;
    gap: 8px;
    justify-content: flex-end;
}

.popup-buttons {
    display: flex;
    align-items: center;
    width: 72px;
    height: 24px;
    gap: 8px;
    cursor: pointer;
    box-sizing: border-box;
    background: none;
    border: none;
    margin: 0em;
    padding-block: 0px;
    padding-inline: 0px;
    border-width: 0px;
}

.popup-buttons:hover {
    filter: brightness(0) saturate(1000%) invert(59%) sepia(45%) saturate(3434%) hue-rotate(161deg) brightness(95%) contrast(89%);
}

.edit {
    display: flex;
    align-items: center;
    width: 81px;
    height: 24px;
    font-weight: 400;
    font-size: 16px;
    gap: 8px;
}

.gray-stroke {
    width: 0px;
    height: 24px;
    margin-left: 10px;
    border: 1px solid #D1D1D1;
}

/* todo cards */

.todo-card {
    display: flex;
    gap: 10px;
    padding: 16px;
    border-radius: 24px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
    cursor: pointer;
}

.under-container {
    width: 220px;
    height: 183px;
    gap: 20px;
}

.technical-cards-headline-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 144px;
    height: 27px;
    padding: 4px 16px 4px 16px;
    gap: 10px;
    border-radius: 8px;
    background: rgba(31, 215, 193, 1);
}

.user-cards-headline-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 113px;
    height: 27px;
    padding: 4px 16px 4px 16px;
    gap: 10px;
    border-radius: 8px;
    background: rgba(0, 56, 255, 1);
}

.cards-headline {
    width: 112px;
    height: 19px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}


.cards-title {
	font-size: 16px;
}

.cards-description {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	text-overflow: ellipsis;
}

.assigned-contacts-container {
	display: flex;
	overflow-y: hidden;
	overflow-x: auto;
}

.initials-span {
	width: 42px;
	height: 42px;
	border-radius: 45px;
	background: #FF7A00;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	border: 2px solid #FFFFFF;
	color: white;
	font-size: 12px;
	font-weight: 400;
	line-height: 14.4px;
	text-align: center;
	flex-shrink: 0;
}

.prio-container {
	display: flex;
	align-items: center;
}

.contacts-prio {
	display: flex;
	justify-content: space-between;
}
