@media screen and (max-width: 1440px) {
    body {
        width: 1280px;
    }

    .input-and-add-button {
        padding-left: 280px;
    }

    .card-container {
        gap: 10px;
        justify-content: flex-start;
        width: 1043px;
    }

    .board-main-container {
        padding: 0px 0px 0px 4px;
    }

    .headline-and-input {
        width: 0;
    }

    .headline-add-task-container {
        width: 0;
    }
}

@media screen and (max-width: 1280px) {
    body {
        width: 1024px;
    }

    .input-and-add-button {
        padding-left: 114px;
    }

    .card-container {
        gap: 8px;
    }

    .drag-area {
        height: auto;
        flex-direction: row;
    }

    .card-container {
        flex-direction: column;
    }

    .card-container {
        width: 820px;
    }
}

@media screen and (max-width: 1024px) {
    body {
        width: 920px;
    }

    .headline-board {
        font-size: 38px;
    }

    .input-and-add-button {
        padding-left: 96px;
    }

    .add-button {
        width: 150px;
        height: 40px;
    }

    .search-input {
        width: 235px;
        height: 22px;
    }

    .card-container {
        width: 696px;
    }
}

@media screen and (max-width: 920px) {
    body {
        width: 780px;
    }

    .input-and-add-button {
        padding-left: 14px;
        gap: 8px;
    }

    .add-button {
        width: 141px;
        height: 38px;
    }

    .search-input {
        width: 235px;
        height: 20px;
    }

    .card-container {
        width: 580px;
    }

    .header {
        padding: 20px 40px 20px 12px;
    }
}

@media screen and (max-width: 780px) {

    body {
        margin: 0;
        width: 640px;
    }

    .sidebar {
        width: 641px;
    }

    .sidebar-nav {
        width: 641px;
    }

    .menu {
        width: 641px;
        justify-content: space-around;
    }

    .header {
        padding: 20px 12px 20px 12px;
    }

    .header-right {
        width: 584px;
    }

    .board-main-container {
        overflow: auto;
        width: 609px;
        height: 766px;
        padding: 0px 16px 0px 16px;
    }

    .headline-and-input {
        flex-direction: column;
        width: 396px;
    }

    .input-and-add-button {
        flex-direction: column;
        align-items: normal;
        gap: 8px;
        padding: 8px 0px 8px 0px;
        width: 396px;
    }

    .search-input {
        width: 396px;
    }

    .headline-add-task-container {
        width: 396px;
        margin-top: 50px;
        padding: 0;
    }

    .add-button-rp {
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .add-button-rp:hover {
        cursor: pointer;
        background-color: #29ABE2;
        border-color: #29ABE2;
    }

    .headline-rp-add-button {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .card-container {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        height: 688px;
        gap: 26px;
        overflow: auto;
        width: auto;
        padding-bottom: 96px;
    }

    .drag-area {
        height: auto;
        flex-direction: row;
    }

    .add-button {
        display: none;
    }

    .done-container,
    .awaitFeedback-container,
    .inProgress-container,
    .card-container {
        display: flex;
        flex-direction: column;
    }

    .column-title {
        width: 396px;
    }

    .headline-board {
        width: 136px;
        height: 56px;
        font-size: 47px;
        font-weight: 700;
        line-height: 56.4px;
    }

    /* Big Cards */

    .popup-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 641px;
        height: 928px;
    }

    .popup {
        width: 348px;
        padding: 32px 24px;
        border-radius: 30px;
        box-shadow: 0px 0px 4px 0px #00000029;
        background: #FFFFFF;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .popup-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 348px;
        height: 32px;
    }

    .tag-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4px 16px;
        border-radius: 8px;
        width: 113px;
        height: 27px;
        gap: 10px;
    }

    .tag {
        font-size: 16px;
        font-weight: 400;
        color: #FFFFFF;
        line-height: 19.2px;
        width: 81px;
    }

    .popup-title {
        font-size: 36px;
        font-weight: 700;
        line-height: 43.2px;
        margin: 0;
    }

    .popup-subtitle {
        font-size: 16px;
        font-weight: 400;
        line-height: 19.2px;
        margin: 0;
    }

    .label {
        font-weight: 400;
        font-size: 16px;
        line-height: 19.2px;
    }

    .value {
        font-weight: 400;
        font-size: 16px;
        line-height: 19.2px;
    }

    .priority-container {
        display: flex;
        width: 124px;
        height: 27px;
        padding: 4px 18px;
        gap: 10px;
    }

    .priority-label {
        font-size: 16px;
        line-height: 12.2px;
    }

    .info-item-assigned {
        display: flex;
        flex-direction: column;
        gap: 12px;
        width: 348px;
        height: 148px;
    }

    .label {
        font-weight: 400;
        font-size: 16px;
        line-height: 19.2px;
    }

    .assignee-container {
        width: 348px;
        height: 43px;
        display: flex;
        align-items: baseline;
        gap: 12px;
        flex-direction: column;
    }

    .assignee-underContainer {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    .assignee-name {
        width: 167px;
        height: 24px;
        font-size: 16px;
        line-height: 19.2px;
        font-weight: 400;
    }

    .popup-subtasks {
        display: flex;
        flex-direction: column;
        width: 348px;
        height: 95px;
        gap: 8px;
    }

    .subtasks-label {
        width: 348px;
        height: 19px;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.2px;
        text-align: left;
    }

    .subtasks-list {
        display: flex;
        flex-direction: column;
        width: 348px;
        height: 68px;
        gap: 4px;
    }

    .popup-actions {
        display: flex;
        justify-content: flex-end;
        width: 348px;
        height: 24px;
        gap: 8px;
    }

    .priority-icon {
        width: 16px;
        height: 12px;
    }
}

@media screen and (max-width: 640px) {
    body {
        margin: 0;
        width: 425px;
    }

    .sidebar {
        width: 428px;
    }

    .sidebar-nav {
        width: 428px;
    }

    .menu {
        width: 428px;
        justify-content: space-around;
    }

    .board-main-container {
        overflow: auto;
        width: 396px;
        height: 766px;
        padding: 0px 16px 0px 16px;
    }

    .headline-and-input {
        flex-direction: column;
        width: 396px;
    }

    .input-and-add-button {
        flex-direction: column;
        align-items: normal;
        gap: 8px;
        padding: 8px 0px 8px 0px;
        width: 396px;
    }

    .search-input {
        width: 396px;
    }

    .headline-add-task-container {
        width: 396px;
        margin-top: 50px;
        padding: 0;
    }

    .add-button-rp {
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .add-button-rp:hover {
        cursor: pointer;
        background-color: #29ABE2;
        border-color: #29ABE2;
    }

    .headline-rp-add-button {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .card-container {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        height: 688px;
        gap: 26px;
        overflow: auto;
        width: auto;
        padding-bottom: 96px;
    }

    .drag-area {
        height: auto;
        flex-direction: row;
    }

    .add-button {
        display: none;
    }

    .done-container,
    .awaitFeedback-container,
    .inProgress-container,
    .card-container {
        display: flex;
        flex-direction: column;
    }

    .column-title {
        width: 396px;
    }

    .headline-board {
        width: 136px;
        height: 56px;
        font-size: 47px;
        font-weight: 700;
        line-height: 56.4px;
    }

    /* Big Cards */

    .popup-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 428px;
        height: 928px;
    }

    .popup {
        width: 348px;
        padding: 32px 24px;
        border-radius: 30px;
        box-shadow: 0px 0px 4px 0px #00000029;
        background: #FFFFFF;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .popup-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 348px;
        height: 32px;
    }

    .tag-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4px 16px;
        border-radius: 8px;
        width: 113px;
        height: 27px;
        gap: 10px;
    }

    .tag {
        font-size: 16px;
        font-weight: 400;
        color: #FFFFFF;
        line-height: 19.2px;
        width: 81px;
    }

    .popup-title {
        font-size: 36px;
        font-weight: 700;
        line-height: 43.2px;
        margin: 0;
    }

    .popup-subtitle {
        font-size: 16px;
        font-weight: 400;
        line-height: 19.2px;
        margin: 0;
    }

    .label {
        font-weight: 400;
        font-size: 16px;
        line-height: 19.2px;
    }

    .value {
        font-weight: 400;
        font-size: 16px;
        line-height: 19.2px;
    }

    .priority-container {
        display: flex;
        width: 124px;
        height: 27px;
        padding: 4px 18px;
        gap: 10px;
    }

    .priority-label {
        font-size: 16px;
        line-height: 12.2px;
    }

    .info-item-assigned {
        display: flex;
        flex-direction: column;
        gap: 12px;
        width: 348px;
        height: 148px;
    }

    .label {
        font-weight: 400;
        font-size: 16px;
        line-height: 19.2px;
    }

    .assignee-container {
        width: 348px;
        height: 43px;
        display: flex;
        align-items: baseline;
        gap: 12px;
        flex-direction: column;
    }

    .assignee-underContainer {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    .assignee-name {
        width: 167px;
        height: 24px;
        font-size: 16px;
        line-height: 19.2px;
        font-weight: 400;
    }

    .popup-subtasks {
        display: flex;
        flex-direction: column;
        width: 348px;
        height: 95px;
        gap: 8px;
    }

    .subtasks-label {
        width: 348px;
        height: 19px;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.2px;
        text-align: left;
    }

    .subtasks-list {
        display: flex;
        flex-direction: column;
        width: 348px;
        height: 68px;
        gap: 4px;
    }

    .popup-actions {
        display: flex;
        justify-content: flex-end;
        width: 348px;
        height: 24px;
        gap: 8px;
    }

    .priority-icon {
        width: 16px;
        height: 12px;
    }
}

@media screen and (max-width: 475px) {}

@media screen and (max-width: 400px) {}

@media screen and (max-width: 375px) {}

@media screen and (max-width: 350px) {}