@media screen and (max-width: 780px) {

    .board-main-container {
        overflow: auto;
        width: 396px;
        height: 766px;
        padding: 0px 16px 0px 16px;
    }

    .headline-and-input {
        flex-direction: column;
        width: 396px;
    }

    .input-and-add-button {
        flex-direction: column;
        align-items: normal;
        gap: 8px;
        padding: 8px 0px 8px 0px;
        width: 396px;
    }

    .search-input {
        width: 396px;
    }

    .headline-add-task-container {
        width: 396px;
        margin-top: 50px;
        padding: 0;
    }

    .add-button-rp {
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .add-button-rp:hover {
        cursor: pointer;
        background-color: #29ABE2;
        border-color: #29ABE2;
    }

    .headline-rp-add-button {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .card-container {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        height: 688px;
        gap: 26px;
        overflow: auto;
        width: auto;
        padding-bottom: 96px;
    }

    .drag-area {
        height: auto;
        flex-direction: row;
    }

    .add-button {
        display: none;
    }

    .done-container,
    .awaitFeedback-container,
    .inProgress-container,
    .card-container {
        display: flex;
        flex-direction: column;
    }

    .column-title {
        width: 396px;
    }

    .headline-board {
        width: 136px;
        height: 56px;
        font-size: 47px;
        font-weight: 700;
        line-height: 56.4px;
    }
}