@media screen and (max-width: 780px) {

    .board-main-container {
        overflow: auto;
        width: 396px;
        padding: 0px 16px 0px 16px;
    }

    .headline-and-input {
        flex-direction: column;
        width: 396px;
    }

    .input-and-add-button {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        padding: 0;
    }

    .headline-add-task-container {
        width: 0;
    }

    .add-button-rp {
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .headline-rp-add-button {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .card-container {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        height: 688px;
        gap: 26px;
        overflow: auto;
        width: auto;
        padding-bottom: 96px;
    }

    .drag-area {
        height: auto;
        flex-direction: row;
    }

    .add-button {
        display: none;
    }
}