<span class="headline">Kanban Project Management Tool</span>
<div class="header-right">
	<img src="../img/template/help.png" class="help-button" onClick="window.location.href = '../help/help.html';">
	<img class="header-join-logo" style="display: none;" src="../img/loginLogo.png" alt="join-logo-rp">
	<span id="user" class="user" onclick="toggleDropdown()">G</span>
	<div id="user-dropdown" class="dropdown-content">
		<a href="../help/help.html">Help</a>
		<a href="../legal-notice/legal-notice.html">Legal Notice</a>
		<a href="../privacy-policy/privacy-policy.html">Privacy Policy</a>
		<a class="d-none" href="../index.html" id="logout-link" onclick="logoutUser()">Logout</a>
	</div>
</div>
