<span class="headline">Kanban Project Management Tool</span>
<div class="header-right">
	<img src="/img/template/help.png" class="help-button" onClick="window.open('/help/help.html');">
	<span id="user" class="user" onclick="toggleDropdown()">CK</span>
	<div id="user-dropdown" class="dropdown-content">
		<a href="../help/help.html">Help</a>
		<a href="../legal-notice/legal-notice.html">Legal Notice</a>
		<a href="../privacy-policy/privacy-policy.html">Privacy Policy</a>
		<a href="../login/login.html">Log out</a>
	</div>
</div>