<nav class="sidebar-nav">
  <div class="sidebar-top">
    <img src="../img/template/templateLogoJoin.png" class="sidebar-logo" alt="Logo" />
    <div class="menu">
      <button id="summary" class="menu-button menu-button-design font-size"
        onclick="window.location.href = '../summary/summary-guest.html';">
        <img src="../img/template/summary.png" alt="Summary" /> <span>Summary</span>
      </button>
      <button id="addTask" class="menu-button menu-button-design font-size"
        onclick="window.location.href = '../add-task/add-task.html';">
        <img src="../img/template/task.png" alt="Add Task" /> <span>Add Task</span>
      </button>
      <button id="board" class="menu-button menu-button-design font-size"
        onclick="window.location.href = '../board/board.html';">
        <img src="../img/template/board.png" alt="Board" /> <span>Board</span>
      </button>
      <button id="contacts" class="menu-button menu-button-design font-size"
        onclick="window.location.href = '../contact/contact.html';">
        <img src="../img/template/contacts.png" alt="Contacts" /> <span>Contacts</span>
      </button>
    </div>
  </div>
  <div class="sidebar-bottom">
    <button id="privacyPolicy" class="menu-button menu-button-lower-design font-size"
      onclick="window.location.href = '../privacy-policy/privacy-policy.html';">
      Privacy Policy
    </button>
    <button id="legalNotice" class="menu-button menu-button-lower-design font-size"
      onclick="window.location.href = '../legal-notice/legal-notice.html';">
      Legal Notice
    </button>
  </div>
</nav>