<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kanban Project Management Tool</title>
    <link rel="stylesheet" href="/css/template.css">
</head>

<body>

    <div class="container">
        <nav class="sidebar">
            <div class="logo">
                <img src="/img/template/templateLogoJoin.png" class="logo-img">
            </div>
            <ul>
                <li><img src="/img/template/summary.png" class="menu-icons"> Summary</li>
                <li><img src="/img/template/task.png" class="menu-icons"> Add Task</li>
                <li><img src="/img/template/board.png" class="menu-icons"> Board</li>
                <li><img src="/img/template/contacts.png" class="menu-icons"> Contacts</li>
            </ul>
            <div class="footer">
                <span>Privacy Policy</span>
                <span>Legal notice</span>
            </div>
        </nav>
    </div>
    <div class="header">
        <span>Kanban Project Management Tool</span>
        <div class="profile">
            <img src="/img/template/help.png" class="help-button"><span>SM</span>
        </div>
    </div>
</body>

</html>