<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kanban Project Management Tool</title>
    <link rel="stylesheet" href="/css/template.css">
</head>

<body>

    <div class="container">
        <nav class="sidebar">
            <div class="logo">
                <img src="/img/template/templateLogoJoin.png" class="logo-img">
            </div>
            <ul class="menu-icons">
                <li><img src="/img/template/summary.png">Summary</li>
                <li><img src="/img/template/task.png">Add Task</li>
                <li><img src="/img/template/board.png">Board</li>
                <li><img src="/img/template/contacts.png">Contacts</li>
            </ul>
            <div class="sidebar-footer">
                <span onClick="window.open('/html/privacy-policy.html');">Privacy Policy</span>
                <span onClick="window.open('/html/legal-notice.html');">Legal notice</span>
            </div>
        </nav>
    </div>
    <div class="header">
        <span class="headline">Kanban Project Management Tool</span>
        <div class="profile">
            <img src="/img/template/help.png" class="help-button" onClick="window.open('/html/help.html');"><span
                class="user">SM</span>
        </div>
    </div>

</body>

</html>