body,
html {
    scroll-behavior: smooth;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    /* Firefox */
    background-color: #f6f7f8;
}

.pl {
    padding-left: 96px;
    padding-right: 96px;
}

.font-color {
    color: #29ABE2;
}

.headline-p {
    font-weight: 700;
    font-size: 61px;
    line-height: 73.2px;
}

.subtitle-p {
    font-weight: 700;
    font-size: 27px;
    line-height: 32.4px;
}

.text-format {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #29ABE2;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.headline-img-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 96px;
}

.arrow:hover {
    transform: scale(1.05);
    background-color: rgb(233, 233, 233);
    border-radius: 50%;
    padding: 1px;
    cursor: pointer;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 64px;
    margin-top: 97px;
    margin-left: 232px;
    overflow-y: auto;
    height: calc(100vh - 97px);
    width: calc(100vw - 232px);
}

@media screen and (max-width: 920px) {
    .content {
        margin-top: 0;
        margin-left: 0;
        height: 100vh;
        width: 100vw;
        padding: 90px 64px;
    }

    .dropdown-content {
        top: 80px;
        right: 15px;
    }

    .headline-p {
        font-size: 37px;
    }
}

@media screen and (max-width: 780px) {

    body {
        margin: 0;
    }

    .pl {

        padding-left: 16px;
        padding-right: 16px;
    }

    .rp-ul-overflow {
        overflow: auto;
    }

    .headline-p{
        font-size: 47px;
    }

    .headline-img-container{
        padding-right: 16px;
    }
}

@media screen and (max-width: 700px) {
    .headline-img-container {
        padding-right: 0;
    }

    .headline-p {
        font-size: 27px;
    }

    .subtitle-p {
        font-weight: 700;
        font-size: 20px;
    }
}