@media screen and (max-width: 780px) {

    .pl {

        padding-left: 16px;
        padding-right: 16px;
    }

    .rp-ul-overflow {
        overflow: auto;
    }

    .headline-p{
        font-size: 47px;
    }

    .headline-img-container{
        padding-right: 16px;
    }
}