.d-none {
	display: none;
}

.wrapper {
	width: 400px;
	height: 128px;
}

.multiselect {
	width: 200px;
}

.select-box {
	position: relative;
	width: 100%;
	max-width: 400px;
}

.select-box input {
	width: 100%;
	font-weight: bold;
}

#checkboxes {
	display: none;
	border: 1px solid #dadada;
	position: absolute;
	background-color: white;
	z-index: 1;
	width: 100%;
	max-width: 400px;
}

#checkboxes label {
	padding: 4px 8px;
	display: flex;
	justify-content: space-between;
}

#checkboxes label:hover {
	background-color: #1e90ff;
}

.test-box {
	height: 100px;
	width: 100%;
	background-color: red;
}
