.d-none {
	display: none;
}

.multiselect {
	width: 200px;
}

.select-box {
	position: relative;
}

.select-box select {
	width: 100%;
	font-weight: bold;
}

.over-select {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

#checkboxes {
	display: none;
	border: 1px solid #dadada;
}

#checkboxes label {
	padding: 4px 8px;
	display: flex;
	justify-content: space-between;
}

#checkboxes label:hover {
	background-color: #1e90ff;
}

.test-box {
	height: 100px;
	width: 100%;
	background-color: red;
}
